.container {
    padding: 2rem 0rem;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 400px;
    }

    .modal-dialog .modal-content {
        padding: 1rem;
    }
}

.buttonColor {
    color: white !important
}

.na .modal-header .close {
    margin-top: -1.5rem;
}

.form-title {
    margin: -2rem 0rem 2rem;
}

.btn-round {
    border-radius: 3rem;
}

.delimiter {
    padding: 1rem;
}

#smoke {
    color: white;
}

#grill {
    color: red;
}

.carousel-img {
    margin-left: 15px;
}

.bg-dark {
    color: black !important;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    font-family: acumin-pro, system-ui, sans-serif;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-size: 14px;
    background-color: #f4f4f4;
    align-items: start;
    min-height: 100vh;
}

.footer {
    display: flex;
    flex-flow: row wrap;
    padding: 30px 30px 20px 30px;
    color: #2f2f2f;
    background-color: #fff;
    border-top: 1px solid #e5e5e5;
}

.footer>* {
    flex: 1 100%;
}

.footer__addr {
    margin-right: 1.25em;
    margin-bottom: 2em;
}

.footer__logo {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    text-transform: lowercase;
    font-size: 1.5rem;
}

.footer__addr h2 {
    margin-top: 1.3em;
    font-size: 15px;
    font-weight: 400;
}

.nav__title {
    font-weight: 400;
    font-size: 15px;
}

.footer address {
    font-style: normal;
    color: #999;
}

.footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color: rgb(33, 33, 33, 0.07);
    border-radius: 100px;
    color: #2f2f2f;
    line-height: 0;
    margin: 0.6em 0;
    font-size: 1rem;
    padding: 0 1.3em;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer li {
    line-height: 2em;
}

.footer a {
    text-decoration: none;
}

.footer__nav {
    display: flex;
    flex-flow: row wrap;
}

.footer__nav>* {
    flex: 1 50%;
    margin-right: 1.25em;
}

.nav__ul a {
    color: #999;
}

.nav__ul--extra {
    column-count: 2;
    column-gap: 1.25em;
}

.legal {
    display: flex;
    flex-wrap: wrap;
    color: #999;
}

.legal__links {
    display: flex;
    align-items: center;
}

.heart {
    color: #2f2f2f;
}

@media screen and (min-width: 24.375em) {
    .legal .legal__links {
        margin-left: auto;
    }
}

@media screen and (min-width: 40.375em) {
    .footer__nav>* {
        flex: 1;
    }

    .nav__item--extra {
        flex-grow: 2;
    }

    .footer__addr {
        flex: 1 0px;
    }

    .footer__nav {
        flex: 2 0px;
    }
}

.bg {
    background-color: rgb(70, 70, 70);
}

.card-img-top {
    height: 200px;
}

main {
    background-color: #2f2f2f;
}


/* ----------------------------------------- section-1 ------------------------------ */

.sec-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://images.unsplash.com/photo-1576402187878-974f70c890a5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Zm9vZHN8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60');
    height: 95vh;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    padding-left: 40px;
    padding-top: 150px;
}

.sec-1-header h1 {
    font-size: 50px;
    font-weight: 100;
    margin: 0;
}

.sec-1-btn button {
    font-size: 20px;
    color: #d9534f;
    margin-top: 20px;
    padding: 10px 25px;
    background-color: transparent;
    border: 2px solid #d9534f;
    border-radius: 30px;

}

.sec-1-btn button:hover {
    background-color: #d9534f;
    color: white;
    transition: 0.3s;
}

/* --------------------------------------------------- SECTION-2 ----------------------------------------------- */


.sec-2 {
    background-color: #2f2f2f;
    color: rgb(3, 3, 64);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec-2-header {
    color: red;
    width: 114px;
    background-color: #2f2f2f;
    margin-top: 50px;
    position: absolute;
    font-family: 'Kaushan Script', cursive;
}

.legacy {
    color: white;
    margin-top: 75px;
    width: 80vw;
    padding: 60px;
    padding-bottom: 40px;
    word-spacing: 3px;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    border: 5px solid red;
    margin-bottom: 50px;
}

/* ---------------------------------------- SECTION-3 ------------------------------------- */


#sec-3 {
    width: 100vw;
    padding: 0;
    margin: 0;
}

.meals-showcase {
    padding: 0;
    list-style: none;
    width: 100%;
}

.meals-showcase li {
    margin: 0;
    width: 25%;
    display: block;
    float: left;
    background-color: black;
}

.meal-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
}

.meal-photo img {
    margin: 0;
    opacity: 0.7;
    width: 100%;
    height: 220px;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}

.meal-photo img:hover {
    transform: scale(1.03);
    opacity: 1;
}


/* ------------------------------------------ SECTION 4 --------------------------------- */

.sec-4 {
    width: 90vw;
    height: 90vh;
}

.feed {
    margin-left: 80px;
    text-align: center;
}

.feed h1 {

    font-weight: 100;
    margin-top: 500px;
    color: red;
}


.feed-name {
    margin-top: 60px;
}

.feed-email {
    margin-left: 4px;
}




.input {
    border: 1px solid white;
    background-color: #2f2f2f;
    color: white;
    margin-left: 20px;
    font-size: 20px;
    padding-left: 20px;
    height: 50px;
    width: 500px;
    margin-bottom: 15px;

}

.feed-back {
    font-size: 20px;
    padding-left: 20px;
    background-color: #2f2f2f;
    border: 1px solid white;
}

.feeds {
    display: flex;
    justify-content: center;
    margin-right: 70px;
}

.lbl-txt {

    margin-right: 20px;
}

.lbl {
    font-size: 20px;
    color: white;
}

.sec-4-btn {
    font-size: 20px;
    color: red;
    margin-top: 20px;
    padding: 10px 25px;
    background-color: transparent;
    border: 2px solid red;
    border-radius: 30px;
}

.sec-4-btn:hover {
    background-color: red;
    color: white;
    transition: 0.3s;
}


/* ---------------------------------------- SECTION-5 -------------------------------- */


.sec-5 {
    width: 99%;
    margin: 0;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/back-customers.jpg);
    height: 95vh;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

.sec-5-header {
    padding: 0;
    margin: 0;
}

.row h2 {
    color: red;
    font-family: 'Kaushan Script', cursive;
    margin-top: 40px;
    margin-bottom: 160px;
}

blockquote {
    padding: 2%;
    line-height: 145%;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-style: italic;
    margin-top: 70px;
    position: relative;

}

blockquote:before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
}

cite {
    font-size: 20px;
    margin-top: 25px;
    display: block;

}

table,
th,
td {
    border: 1px solid;
}